.table-label {
    font-family: "Kode Mono", monospace;
    background-color: #0F4C75;
    display: inline-block;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin: 0;
}

.table-wrapper {
    margin-top: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.table {
    border-style: solid;
    border-collapse: collapse;
    border-color: #ddd;
    width: 60%;
    margin: 0 auto;
    background-color: white;
}

.th {
    padding: 25px;
    background-color: #3282B8;
    color: #fff;
}

.th, .td {
    padding: 12px;
    text-align: left;
}

.tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tr:hover {
    background-color: #ddd;
}
